In [1]:
import linear_analysis as la
import datafill as dfl
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [2]:
import pandas as pd

df_test = pd.DataFrame({'airport':['a','b','c','d','e'],'thing': [0, 3, 4, 5, 6], 'next':range(5)})
df_test2 = pd.DataFrame({'thing2': [0, 3, 4, 5, 6], 'next2':range(5)})


df_test.append(df_test)

  airport  thing  next
0       a      0     0
1       b      3     1
2       c      4     2
3       d      5     3
4       e      6     4
0       a      0     0
1       b      3     1
2       c      4     2
3       d      5     3
4       e      6     4

In [3]:
third = dfl.Data_edit(df_test)
fourth = third+df_test
print(fourth.display())
fourth.quick_clean().display()

  airport  thing  next
0       a      0     0
1       b      3     1
2       c      4     2
3       d      5     3
4       e      6     4
5       a      0     0
6       b      3     1
7       c      4     2
8       d      5     3
9       e      6     4

  airport  thing  next
0       a      0     0
1       b      3     1
2       c      4     2
3       d      5     3
4       e      6     4

In [4]:
fifth = third-df_test2
fifth.display()

  airport  thing  next
0       a    0.0   0.0
1       b    3.0   1.0
2       c    4.0   2.0
3       d    5.0   3.0
4       e    6.0   4.0
5       a    0.0   0.0
6       b    3.0   1.0
7       c    4.0   2.0
8       d    5.0   3.0
9       e    6.0   4.0

In [5]:
second = la.lm(df_test)

In [6]:
second.singlelineareqn('thing','next')

y=1.4x+0.8

In [7]:
first = .Placeholder(df_test)
first.display()

SyntaxError: invalid syntax (<ipython-input-7-305b09adc5ad>, line 1)

In [8]:
first.columntype('thing')

dtype('int64')

In [9]:
first.sum_column('thing')

18

In [10]:
first.avg_column('thing')

3.6

In [11]:
first.column_stats('thing')

{'Sum of thing': 18,
 'Average of thing': 3.6,
 'Standard deviation of thing': 2.0591260281974}