In [4]:
import pandas as pd

import summary_stats as summary

In [5]:
data = [{'a': i, 'b': 2 * i} for i in range(3)]
test_df = pd.DataFrame(data)
test_df

   a  b
0  0  0
1  1  2
2  2  4

In [7]:
summary.missing_summary(test_df)

   count_missing  percent_missing
a              0              0.0
b              0              0.0

In [9]:
summary.stats_summary(test_df)

   max  min
a    2    0
b    4    0

In [10]:
summary.all_summary(test_df)

   max  min  count_missing  percent_missing
a    2    0              0              0.0
b    4    0              0              0.0

In [11]:
summary.simple_summary(test_df)

               values
df_max              4
df_min              0
row_count           3
column_count        3
total_missing       0