In [1]:
import pandas as pd

In [194]:
class df_info:
    def __init__(self, df, type = 'columns'):
        if not isinstance(df, pd.DataFrame):
            raise Exception("Input must be a pandas DataFrame")
        if not (type in ('columns', 'rows')):
            raise Exception('choose another type option either: rows or columns')
        self.df = df
        self.type = type
        self.rows = self.df.shape[0]
        self.columns = self.df.shape[0]
        self.total_max = df.max().max()
        self.total_min = df.min().min()
        self.total_missing = df.isnull().sum().sum()

In [163]:
class missing(df_info):
    def __init__(self, df, type = 'columns'):
        df_info.__init__(self, df, type)
        if self.type == 'columns':
            self.count_missing = df.isnull().sum()
            self.percent_missing = self.count_missing / self.columns
        else:
            self.count_missing = df.isnull().sum(axis = 1)
            self.percent_missing = self.count_missing / self.rows

In [182]:
class stats(df_info):
    def __init__(self, df, type = 'columns'):
        df_info.__init__(self, df, type)
        if self.type == 'columns':
            self.sub_max = df.max()
            self.sub_min = df.min()
        else:
            self.sub_max = df.max(axis = 1)
            self.sub_min = df.min(axis = 1)

In [183]:
def missing_summary(df, assess = 'columns'):
    data = missing(df, assess)
    df_out = {'count_missing': data.count_missing,
                'percent_missing': data.percent_missing}

    return pd.concat(df_out, axis = 1)

In [184]:
def stats_summary(df, assess = 'columns'):
    data = stats(df, assess)
    df_out = {'max': data.sub_max,
                'min': data.sub_min}

    return pd.concat(df_out, axis = 1)

In [185]:
def all_summary(df, assess = 'columns'):
    return pd.concat([stats_summary(df, assess), missing_summary(df, assess)], axis = 1)

In [192]:
def simple_summary(df):
    data = df_info(df)
    output_labels = ['df_max', 'df_min', 'row_count', 'column_count', 'total_missing']
    output_values = [data.total_max, data.total_min, data.rows, data.columns, data.total_missing]
    return pd.DataFrame({'values': output_values}, index = output_labels)

In [186]:
data = [{'a': i, 'b': 2 * i} for i in range(3)]
test_df = pd.DataFrame(data)
test_df

   a  b
0  0  0
1  1  2
2  2  4

In [139]:
test_stats.sub_max

0    0
1    2
2    4
dtype: int64

In [117]:
test_stats = stats_additional(test_df, 'rows')

In [118]:
test_stats.sub_max

0    0
1    2
2    4
dtype: int64

In [125]:
display_stats(test_df, assess = 'rows')

   max  min
0    0    0
1    2    1
2    4    2

In [187]:
stats_summary(test_df, assess = 'rows')

   max  min
0    0    0
1    2    1
2    4    2

In [188]:
missing_summary(test_df, assess = 'columns')

   count_missing  percent_missing
a              0              0.0
b              0              0.0

In [189]:
combined_summary(test_df, assess = 'columns')

   max  min  count_missing  percent_missing
a    2    0              0              0.0
b    4    0              0              0.0

In [195]:
simple_summary(test_df)

               values
df_max              4
df_min              0
row_count           3
column_count        3
total_missing       0